.container {
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/wooden-bg.jpg");
    overflow-y: auto;
    color: white;
}

.goal-container {
    width: 100%;
    padding: 16px;
}

.select-environment-container, .select-card-container {
    width: 100%;
    padding: 16px;
}

.environment {
    width: 100%;
    background-color: #a9a9a955;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
}




table {
    width: 100%;
    border: 2px solid black;
}

tr {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #ffffff;
    color: black;
}

tr:nth-child(even) {
    background-color: #3b3a3a;
    color: white;
}

/** customize the code highlight, hide the language and copy button **/
::ng-deep .code-toolbar>.toolbar {
    display: none !important;
}

::ng-deep .code-line .language-javascript {
    border-top: none !important;
    padding: 2px !important;
    margin: 0px !important;
}

::ng-deep .language-javascript {
    font-size: x-small;
}

::ng-deep ion-slide {
    width: 100%;
}