<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CodeCards - {{ currentPlayer?.name }}'s turn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container" *ngIf="currentPlayer">
   <div class="table-zone">
    <div class="trail" *ngFor="let t of model.trails">
      <app-environment-card [environmentCard]="t.environmentCard"></app-environment-card>
      <app-code-card class="trail-card" *ngFor="let c of t.codeCards" [codeCard]="c"></app-code-card>
      <ion-button (click)="addCard(t)" *ngIf="selectedCard" class="add-btn">Add card here</ion-button>
    </div>
   </div>

   <div class="hand-zone">
     <div class="hand">
      <app-code-card [class]="selectedCard === c ? 'selected-card' : ''" (click)="selectCard(c)" *ngFor="let c of currentPlayer.hand" [codeCard]="c"></app-code-card>

      <div class="goal-container">
        <app-goal-card *ngIf="currentPlayer.goal" [goalCard]="currentPlayer.goal"></app-goal-card>
       </div>
     </div>
   </div>
  </div>
</ion-content>
