<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LogicLeague - {{ currentPlayer.name }}'s turn
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="trophy-button" (click)="showPlayerRanking()">
        <ion-icon name="trophy-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container" *ngIf="currentPlayer">
   <div class="table-zone">
    <div class="trail" *ngFor="let t of model.trails; let i = index">
      <table class="environment-table" *ngIf="t.environment">
        <tr>
          <th>foo</th> 
          <th>bar</th>
          <th>x</th>
          <th>y</th>
          <th>z</th>
        </tr>
        <tr>
          <td>{{ t.environment.foo }}</td>
          <td>{{ t.environment.bar }}</td>
          <td>{{ t.environment.x }}</td>
          <td>{{ t.environment.y }}</td>
          <td>{{ t.environment.z }}</td>
        </tr>
      </table>
      <h1 class="trail-title">Environment  {{ i + 1 }} - <ion-button (click)="showTraceTable(t)" class="trace-table-button"><ion-icon name="file-tray-full-outline"></ion-icon></ion-button></h1>
      <snippet-highlight class="snippet trail-environment" theme="dark" language="javascript" [content]="t.environmentCard.declarationsSnippet"></snippet-highlight>
      <snippet-highlight class="snippet trail-card" theme="dark" language="javascript" *ngFor="let c of t.codeCards" [content]="c.snippet"></snippet-highlight>
      <ion-button (click)="addCard(t)" *ngIf="selectedCard" class="add-btn">Add card here</ion-button>
    </div>
   </div>

   <div *ngIf="showCards" class="hand-zone">
     <div class="hand">
      <app-code-card [class]="selectedCard === c ? 'selected-card' : ''" (click)="selectCard(c)" *ngFor="let c of currentPlayer.hand" [codeCard]="c"></app-code-card>

      <div class="divider"></div>
      <div class="goal-container">
        <app-goal-card *ngIf="currentPlayer.goal" [goalCard]="currentPlayer.goal"></app-goal-card>
       </div>
     </div>
   </div>
  </div>
</ion-content>
