.container {
  display: block;
  width: 100%;
  height: 100%;
}

.table-zone {
  width: 100%;
  height: calc(100% - 350px);
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-y: auto;
}

.add-btn {
  width: 100%;
}

.hand-zone {
  width: 100%;
  background-color: chocolate;
}

.trail-card {
  position: relative;
  top: -150px;
}

.hand {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: row;
}

.selected-card {
  transform: scaleX(1.25) scaleY(1.25);
  margin-right: 25px;
  margin-left: 25px;
}

/** customize the code highlight, hide the language and copy button **/
::ng-deep .code-toolbar > .toolbar {
    display: none !important;
}
::ng-deep .code-line .language-javascript {
  border-top: none !important;
  padding: 2px !important;
  margin: 0px !important;
}

::ng-deep .language-javascript {
  font-size: x-small;
}

::ng-deep ion-slide {
  width: 100%;
}