.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.score-entry {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goal-description {
    width: 100%;
    text-align: center;
}