#container {
  text-align: center;

  position: absolute;
  left: 50%;
  width: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  flex-direction: column;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}