.container {
  padding: 10px;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
}

/** customize the code highlight, hide the language and copy button **/
::ng-deep .code-toolbar > .toolbar {
    display: none !important;
  }
  ::ng-deep .code-line .language-javascript {
    border-top: none !important;
    padding: 2px !important;
    margin: 0px !important;
  }
  
  ::ng-deep .language-javascript {
    font-size: x-small;
  }
  
  ::ng-deep ion-slide {
    width: 100%;
  }